<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content='initial-scale=1.0, width=device-width' name='viewport'>
    <title>Elephant Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container align-items-center">
        <div class="row p-3 d-flex">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="row p-2">
                        <div class="col-md-7">
                            <label for="input" class="form-label">Input Quantity</label>
                            <input type="number" class="form-control" id="input" placeholder="69" min="0" max="15000" />
                        </div>
                        <div class="col-md-5">
                            <label class="form-label" for="inputSelect">Convert from:</label>
                            <select class="form-select" id="inputSelect">
                                <% for( const i in animals ) { %>
                                    <option value="<%= i %>">
                                        <%= animals[i] %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row p-2">
                        <label class="form-label">Convert to:</label>
                        <% for (const i in animals) { %>
                            <div class="form-check">
                                <input class="form-check-input outputCheckbox" type="checkbox" id="<%= i %>">
                                <label class="form-check-label" for="<%= i %>">
                                    <%= animals[i] %>
                                </label>
                            </div>
                            <% } %>
                    </div>
                    <div class="row p-2">
                        <button type="button" class="btn btn-primary" onclick="calculate()" id="calculateBtn"
                            disabled>Convert</button>
                    </div>
                    <div class="row">
                        <div class="row align-items-center">
                            <p id="stringDisplay"></p>
                        </div>
                    </div>
                    <div class="row" id="resultsDiv">
                        <div class="row p-2">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 align-items-center">
                                <div class="row">
                                    <div class="card d-flex flex-row align-items-center">
                                        <div class="col-3 align-items-center">
                                            <h1 class="p-1">76</h1>
                                        </div>
                                        <div class="col-8 align-items-center">
                                            <h6 class="p-1">African Elephants</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <script>

        document.querySelector('#input').oninput = btnEnabled;
        const outputs = document.querySelectorAll('.outputCheckbox');
        for (const i in outputs) {
            outputs[i].onchange = btnEnabled;
        }

        function btnEnabled() {
            const input = document.querySelector('#input').value;
            const inputType = document.querySelector('#inputSelect').value;

            const outputs = document.querySelectorAll('.outputCheckbox');
            let outputTypes = [];
            for (const i in outputs) {
                if (outputs[i].checked) {
                    outputTypes.push([outputs[i].id, mass[outputs[i].id]]);
                }
            }

            if (input && inputType && outputTypes.length > 0) {
                document.querySelector('#calculateBtn').disabled = false;
            } else {
                document.querySelector('#calculateBtn').disabled = true;
            }
        }

        const mass = {
            africanElephant: 6000,
            asianElephant: 4000,
            africanElephantNewborn: 110,
            asianElephantNewborn: 90,
            blueWildebeest: 250
        };

        const names = {
            africanElephant: 'African Elephant',
            asianElephant: 'Asian Elephant',
            blueWildebeest: 'Blue Wildebeest',
            africanElephantNewborn: 'Newborn African Elephant',
            asianElephantNewborn: 'Newborn Asian Elephant'
        };

        function calculate() {
            const input = document.querySelector('#input').value;
            const inputType = document.querySelector('#inputSelect').value;

            if (input && inputType) {
                const outputs = document.querySelectorAll('.outputCheckbox');
                let outputTypes = [];
                for (const i in outputs) {
                    if (outputs[i].checked) {
                        outputTypes.push([outputs[i].id, mass[outputs[i].id]]);
                    }
                }
                outputTypes.sort((a, b) => { return a[1] - b[1] });
                outputTypes.reverse();

                let inputMass = input * mass[inputType];
                let outputCountArray = [];
                for (const i in outputTypes) {

                    const count = Math.floor(inputMass / mass[outputTypes[i][0]]);
                    inputMass = inputMass % mass[outputTypes[i][0]];
                    const type = outputTypes[i][0];
                    let outputCountEntry = [type, count];
                    outputCountArray.push(outputCountEntry);
                }

                document.querySelector('#stringDisplay').textContent = `${input} ${names[inputType]}${input > 1 ? 's' : ''} weigh${!(input > 1) ? 's' : ''} the same as `;
                outputCountArray = outputCountArray.filter(item => item[1] != 0);

                for (const i in outputCountArray) {
                    const num = outputCountArray[i][1];
                    const animal = names[outputCountArray[i][0]];

                    document.querySelector('#resultsDiv').append(createResult(animal, num));
                }

            }

        }

        function createResult(animal, count) {
            const el = document.createElement('div');
            el.classList.add('row');
            el.classList.add('p-2');
            el.innerHTML += '<div class="col-md-2"></div>';
            el.innerHTML += `<div class="col-md-8 align-items-center">
                                <div class="row">
                                    <div class="card d-flex flex-row align-items-center">
                                        <div class="col-3 align-items-center">
                                            <h1 class="p-1">${count}</h1>
                                        </div>
                                        <div class="col-8 align-items-center">
                                            <h6 class="p-1">${animal}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
            return el;
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>